html{
    background-image: url('images/background.png');
    background-size: cover;
    height: 100%;
    max-height: auto;
}
body{
    height: auto;
    max-height: auto;
    margin: 0px;
}

span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10px;
}

h1,h3,h6{
    display: flex;
    margin: 0px;
    justify-content: center;
    background-color: white;
}
#header{
    background-color: white;
    display: flex;
    align-items: center;

    height: 50px;
    width: 100%;
}

#container{ /*CONTENITORE DI TUTTE LE SEZIONI*/
    left: 15%;
    right: 15%;
    width: 70%;
    margin: 0px;
    position: relative;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.section{   /*CONTENITORE SINGOLO SET DI FOTO + BOTTONE*/
    width: 90%;
    margin: 8px 0px 0px 0px;
    
}
.elem_cont{ /*CONTENITORE SINGOLO SET DI FOTO*/
    display:flex;
    flex-wrap: wrap;
    height: auto;
    max-height: 500px;
    border-radius: 10px;
    overflow-y: scroll;
}

.block{ /********Contenitore foto-scritta********/
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 400px;
    width: 32.5%;
    border: 2px solid black;
    background-color: white;
}


.block div{ /*************** TESTO ****************/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 20%; 
}

.block img{ /*IMMAGINE DEL SINGOLO BLOCCO*/
    height: auto;
    max-height: 80%;
}

.disappear{
    display: none;
}

.clickable{ /*BOTTONE PER APRIRE LA SEZIONE */
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    padding-left: 4px;
    margin-bottom: 2px;
    font-weight: bold;
    color: rgb(104, 104, 104);
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid darkgrey;
}

iframe{
    width: 49.5%;
}

.elem_cont #not_found{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    height: 100px;
    width: 100%;
}



@media (max-width: 1100px){
    .block{ /*****************************Contenitore foto-scritta*****************************/
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 49%;
    }
    iframe{
        width: 100%;
    }
    
}
@media (max-width: 700px){
    .block{ /*****************************Contenitore foto-scritta*****************************/
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    
}

